.App {
  text-align: center;
}
.display{
  text-align: center;
}
#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
#tooltip #tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
    opacity: 0;
  transition: opacity 0.3s;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

#tooltip #tooltiptext::after {
  content: "";
  position: absolute;
  top: -12%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(85, 85, 85, 0.359) transparent transparent transparent;
}

#tooltip:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}

.grid{
  display:grid;

  grid-row-gap:5px;
}